<div class="cont">
    <div class="mt-5 pb-4 pt-md-3 pb-md-5">
        <div class="row justify-content-center pt-lg-5 hidden">
            <img class="mt-lg-5" src="assets/number.png" alt="">
            <h2 class="mb-1 mt-lg-3">Fanny Spencer</h2>
            <i class="material-icons mb-4">star star star star star</i>
            <p class="col-lg-4 mt-lg-3 px-md-5">As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face and She is the host to your journey.</p>
        </div>
        <div class="row justify-content-center pt-lg-5 hidden">
            <img class="mt-lg-5" src="assets/number.png" alt="">
            <h2 class="mb-1 mt-lg-3">Fanny Spencer</h2>
            <i class="material-icons mb-4">star star star star star</i>
            <p class="col-lg-4 mt-lg-3 px-md-5">As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face and She is the host to your journey.</p>
        </div>
        <div class="row justify-content-center pt-lg-5">
            <img class="mt-lg-5" src="assets/number.png" alt="">
            <h2 class="mb-1 mt-lg-3">Fanny Spencer</h2>
            <i class="material-icons mb-4">star star star star star</i>
            <p class="col-lg-4 mt-lg-3 px-md-5">As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face and She is the host to your journey.</p>
        </div>
    </div>
</div>
