.row{margin: 0;}

.back{
    background-image: url(\src\assets\images\body1.jpg);
    height: 350px;
}

i{width: 30px;}

a, i{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

a:hover{color: #00C9FF}

h1{
    font-size: 32px;
    font-weight: 500;
}