.row{margin: 0;}

img{display: none;}

.ct1{
    background-image: url(\src\assets\images\body1.jpg);
    height: 530px;
}

h4 {
    font-weight: 500;
    color: white;
    padding-top: 130px;
    font-size: 28px;
    line-height: 40px;
}   

p{
    font-weight: 500;
    color: white;
    font-size: 16px;
    line-height: 22px;
}

.mdl-button{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D  100%, #00C9FF  80%);
    animation: animate 3s linear infinite;
}

.modal-header{
    background-color: black;
    button{
        right: 10px;
        background-color: transparent;
        border: 0;
    }
}

.modal-fullscreen .modal-body{overflow-y: hidden;}

.modal-body, iframe{
    width: 100%;
    height: 50px;
}

@keyframes animate{
    0%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .7);
    }
    40%{
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
    80%{
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

i{
    color: black;
}

@media (min-width: 992px){
    img{
        padding-top: 40%;
        display: block;
    }
    .ct1{
        height: 1000px;
    }
    h4{
        font-size: 60px;
        line-height: 72px;
    }
    p{
        line-height: 30px;
    }
    .pad{
        padding-top: 14%;
    }
}

@media(max-width: 991px){
    .ct1{
        height: 470px;
    }
}