<div class="ct1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/images/blocos.png" class="ps-lg-3" alt="blocos">
            </div>
            <div class="pad col-md-10 px-md-1 ps-md-3 col-lg-6">
                <h4 class="px-3 px-md-2 ps-md-5">For All Occasion HairStyle is a Must Try Fashion</h4>
                <p class="px-3 ps-md-5 pt-lg-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                <div class="row mt-4 px-1 px-md-5">
                    <div class="col-2 mt-lg-3">
                        <button class="mdl-button" data-bs-toggle="modal" data-bs-target="#buttonmodal"><i id="spaan" class="material-icons pt-1">play_arrow</i></button>
                    </div>
                    <div class="modal fade p-0" id="buttonmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen m-0">
                            <div class="modal-content border-0">
                                <div class="modal-header border-0 d-flex justify-content-end p-1 pe-3 pe-md-5">
                                    <button class="ps-0 pe-md-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="material-icons text-white">close</span></button>
                                </div>
                                <div class="modal-body p-0">
                                    <iframe class="w-100 h-100" src="https://www.youtube.com/embed/vParh5wE-tM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 pt-3 mt-lg-3">
                        <p>WATCH THE VIDEO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>