div.bg-white{box-shadow: 5px 5px 20px;}

.btn-grad {background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D  51%, #00C9FF  100%)}
.btn-grad {
    border: none;
    font-weight: 500;
    padding: 10px 40px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;         
    border-radius: 5px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #00C9FF;
    transition: all .3s ease;
}