<div class="backg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-2 mx-lg-5 ps-lg-5 pt-lg-5">
                <h3 class="text-light pt-5">About Farfly</h3>
                <ul>
                    <li class="pb-3 pt-2"><a href="#">For Business</a></li>
                    <li class="pb-3"><a href="#">Premium Plans</a></li>
                    <li class="pb-3"> <a href="#">Reviews</a></li>
                    <li class="pb-3"><a href="#">How it works</a></li>
                    <li><a href="#">Farfly Blog</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-2 mx-lg-5 pt-lg-5">
                <h3 class="text-light pt-4 pt-md-5">Company</h3>
                <ul>
                    <li class="pb-3 pt-2"><a href="#">Product Tour</a></li>
                    <li class="pb-3"><a href="#">Pricing</a></li>
                    <li class="pb-3"> <a href="#">Founding Members</a></li>
                    <li class="pb-3"><a href="#">Case Studies</a></li>
                    <li><a href="#">Product Updates</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-2 mx-lg-5 pt-lg-5">
                <h3 class="text-light pt-4 pt-md-5">Support</h3>
                <ul>
                    <li class="pb-3 pt-2"><a href="#">Documentation</a></li>
                    <li class="pb-3"><a href="#">Data Security</a></li>
                    <li class="pb-3"> <a href="#">Site Performance</a></li>
                    <li class="pb-3"><a href="#">Action Plan</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-2 pt-lg-5">
                <h3 class="text-light pt-4 pt-md-5">Legal</h3>
                <ul>
                    <li class="pb-3 pt-2"><a href="#">Terms and conditions</a></li>
                    <li class="pb-3"><a href="#">Privacy Policy</a></li>
                    <li class="pb-3"> <a href="#">Cookie Information</a></li>
                    <li class="pb-2"><a href="#">Opt - Out</a></li>
                </ul>
            </div>
            <hr class="mt-lg-5">
            <p class="pt-2 text-light text-center col-md-6 text-md-start ps-md-0 mb-md-3 ms-lg-5 ps-lg-4 pb-lg-2">Copyright © All rights reserved | This template is made with <i class="small material-icons">favorite_border</i> by <a href="/home">Colorlib</a>
            <!-- <div class="d-flex justify-content-center d-md-flex justify-content-md-end mt-3">
                <span class="square mx-2 mb-4">
                    <a href="#"><i class="material-icons text-light">person</i></a>
                </span>
                <span class="square mx-2">
                    <a href="#"><i class="material-icons text-light">school</i></a>
                </span>
                <span class="square mx-2">
                    <a href="#"><i class="material-icons text-light">construction</i></a>
                </span>
                <span class="square mx-2">
                    <a href="#"><i class="material-icons text-light">public</i></a>
                </span>
            </div> -->
        </div>
    </div>
</div>