<p class="p2 mt-md-5 pt-md-5">Screens Gallery</p>
<p class="p3 mb-4 mb-lg-5">Screens Gallery</p>
<div class="row d-flex justify-content-md-center">
  <div class="col-lg-8 pe-md-1 px-0">
    <div class="row">
      <div class="container col-12 col-md-6 mt-4 col-lg-6 mt-lg-2 d-md-flex justify-content-md-end">
        <img src="/assets/gallery1.png" class="g1" alt="gallery 1">
      </div>
      <div class="container col-12 col-md-6 mt-4 col-lg-6 mt-lg-2 d-md-flex justify-content-md-end">
        <img src="/assets/gallery2.jpg" class="g2" alt="gallery 2">
      </div>
      <div class="container col-12 col-md-12 col-lg-12 mt-2 ps-md-2 d-md-flex justify-content-md-end">
        <img src="/assets/gallery3.jpg" class="g3 ms-md-2 mt-md-4" alt="gallery 3">
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="container col-12 mt-2 ps-0">
      <img src="/assets/gallery4.jpg" class="g4 mb-lg-5" alt="gallery 4">
    </div>
  </div>
</div>