<div class="ct2 mt-5">
    <div class="row col-lg-7 ps-md-5 pt-md-5">
        <p class="pt-4 px-md-4 px-5 text-light pt-md-2 pt-lg-3 p1">ABOUT US</p>
        <h5 class="px-5 px-md-4 text-light pt-1 pt-lg-4">We Believe that<br>Interior beauty lasts Long</h5>
        <p class="px-5 px-md-4 pt-lg-4">inappropriate behavior is often laughed off as "boys will be boys", women face higher conduct standards especially in the workplace. That's why it's crucial that as women</p>
        <div class="col-lg-6">
            <img src="/assets/images/image-lg.png" alt="image lg" class="image-lg">
        </div>
    </div>
    <div class="row px-5 col-8 px-md-4 mx-md-5 mt-lg-4 pt-2">
        <button type="button" class="btn-grad">LEARN MORE</button>
    </div>

</div>