.row{margin: 0;}

.carousel{z-index: 1;}

.back{background-image: url(\src\assets\images\carousel.png);}

img{
    width: 180px !important;
    height: 100px !important;
}

 i{
     color: rgb(218, 151, 29);
     size: 50px;
 }

 p{
     font-size: 13px;
     font-style: italic;
 }


@media(min-width: 762px){
     p{
         font-size: 17px;
         margin: 0 90px;
    }
}

@media(min-width: 992px){
     p{
         font-size: 20px;
         margin: 0 32%;
         line-height: 28px;
    }
    .carousel{height: 450px !important;}
}