<div class="ct1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/images/blocos.png" class="ps-lg-3" alt="blocos">
            </div>
            <div class="pad col-md-10 px-md-1 ps-md-3 col-lg-6">
                <h4 class="px-3 px-md-2 ps-md-5">For All Occasion HairStyle is a Must Try Fashion</h4>
                <p class="px-3 ps-md-5 pt-lg-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                <div class="row mt-4 px-1 px-md-5">
                    <div class="col-2 mt-lg-3">
                        <button class="mdl-button">
                            <a href="https://www.youtube.com/watch?v=vParh5wE-tM"><i class="material-icons pt-1">play_arrow</i></a>
                        </button>
                    </div>
                    <div class="col-8 pt-3 mt-lg-3">
                        <p>WATCH THE VIDEO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
