.row{margin: 0;}

nav{z-index: 10;}

.ativo{color: #00C9FF !important;}

a:hover{
    cursor: pointer;
    transition: all .6s ease;
}

.nav-link:hover{color: #00C9FF !important;}

.btn-grad {background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D  51%, #00C9FF  100%)}
.btn-grad {
    border: none;
    font-weight: 500;
    padding: 10px 40px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;         
    border-radius: 35px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    text-decoration: none;}
    
.navbar-toggler{border: none;}
.navbar-toggler:hover{box-shadow: none;}

.navbar-toggler-icon{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}

li{list-style-type: none;}


.dropdown-toggle::after{content: none;}

ul.dropdown-menu li{border-bottom: 1px solid #ddd;}
ul.dropdown-menu li:last-child{border-bottom: none;}

.dropdown-item{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0 !important;
}

.dropdown-item:hover{
    background-image: -webkit-linear-gradient(0deg ,#4dabff 0%,#62ddff 100%);
    color: white !important;
}

@media(min-width: 992px){
    button.btn-grad{margin-left: 10%;}
    .logo{margin-left: 47%;}
    .navbar{background-color: rgb(57, 17, 136) !important;}
    .nav-link1{margin-left: 1em !important;}
    .nav-link{margin-left: 1.5em;}
    .btn-grad{margin-left: 20em;}
    .navbar .nav-item:hover .dropdown-menu{display: block;}
}

@media(min-width: 1200px) and (max-width: 1400px){
    button.btn-grad{
        margin-left: 27% !important;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    .btn-grad{position: absolute;
        top: 30px;
        right: 30px;}
}

@media(max-width: 991px){
    .navbar{
        background-color: black !important;
        padding-top: 0px;
        padding-bottom: 0px;}
    .nav-link{margin-left: 20px;}
    .btn-grad{
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    .navbar-nav .nav-item{border-bottom: 1px solid #333; width: 93.5%;;}
}
