
<p class="p2 mt-md-5 pt-md-5">Upcoming Games</p>
<p class="p3 mb-4 mb-lg-5">Upcoming Games</p>
<div class="row col-lg-9 pb-lg-4">
    <div class="justify-content-center col-lg-3 col-md-6">
        <div class="card mt-4 mt-md-5 mt-lg-2">
            <div class="card-body text-center">
                <div class="faixa">
                    <p class="card-title mt-3">Best Ps4 Games</p>
                </div>
            </div>
        </div>
    </div>
    <div class="justify-content-center col-lg-3 col-md-6">
        <div class="card card1 mt-5 mt-lg-2">
            <div class="card-body text-center">
                <div class="faixa">
                    <p class="card-title mt-3">World Dart 2019</p>
                </div>
            </div>
        </div>
    </div>
    <div class="justify-content-center col-lg-3 col-md-6">
        <div class="card card2 mt-5 mt-lg-2">
            <div class="card-body text-center">
                <div class="faixa">
                    <p class="card-title mt-3">New XBox Games</p>
                </div>
            </div>
        </div>
    </div>
    <div class="justify-content-center col-lg-3 col-md-6">
        <div class="card card3 mt-5 mt-lg-2">
            <div class="card-body text-center">
                <div class="faixa">
                    <p class="card-title mt-3">American Football</p>
                </div>
            </div>
        </div>
    </div>
</div>