<p class="p1 pt-lg-5 mt-lg-5">Frequently Asked Questions</p>
<p class="p2 mb-4 mx-2">Frequently Asked Questions</p>
<div class="container ps-md-5">
    <div class="row">
        <div class="vertical-line"></div>
        <div class="px-3 pt-5 ps-md-5 col-md-5 col-lg-5">
            <p class="p3">We Believe that Interior beauty Lasts Long</p>
            <p class="p4">inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that as women.</p>
        </div>

        <div class="px-3 pt-5 ps-md-5 ms-md-5 pe-md-0 col-md-5 col-lg-5">
            <p class="p3">We Believe that Interior beauty Lasts Long</p>
            <p class="p4">inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that as women.</p>
        </div>

      <hr class="ms-lg-5 mt-lg-4">  

        <div class="px-3 pt-5 pt-lg-4 ps-md-5 col-md-5 col-lg-5">
            <p class="p3">We Believe that Interior beauty Lasts Long</p>
            <p class="p4">inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that as women.</p>
        </div>
        
        <div class="px-3 pt-5 pt-lg-4 ps-md-5 ms-md-5 pe-md-0 col-md-5 col-lg-5">
            <p class="p3">We Believe that Interior beauty Lasts Long</p>
            <p class="p4">inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that as women.</p>
        </div>

        <hr class="ms-lg-5 mt-lg-4">  

        <div class="px-3 pt-5 pt-lg-4 ps-md-5 col-md-5 col-lg-5">
            <p class="p3">We Believe that Interior beauty Lasts Long</p>
            <p class="p4">inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that as women.</p>
        </div>
        
        <div class="px-3 pt-5 pt-lg-4 ps-md-5 ms-md-5 pe-md-0 col-md-5 col-lg-5">
            <p class="p3">We Believe that Interior beauty Lasts Long</p>
            <p class="p4">inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that as women.</p>
        </div>
    </div>
</div>