<p class="p1 pt-lg-5 mt-lg-5">Latest Blog Pass</p>
<p class="p2 mb-md-4 mb-lg-5">Latest Blog Pass</p>
<div class="container d-flex justify-content-xl-end mx-md-4">
    <div class="row d-lg-flex align-items-lg-center">
        <div class="mb-3 mb-lg-5 px-3 pe-md-4 mt-5 col-md-6 col-lg-4">
            <div class="container1">
                <div class="zoom">
                    <img class="card-img-top" src="/assets/gallery4.jpg" alt="Image blog post 1">
                </div>
                <div class="card-body text-light">
                    <h4 class="card-title mt-3">Portable Fashion for women</h4>
                    <p class="card-text" style="line-height: 22px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <div class="card-text mb-3">
                        <small><i class="small material-icons" style="margin-left: 0;">calendar_today</i>13th Dec</small>
                        <small><i class="small material-icons">favorite</i>15</small>
                        <small><i class="small material-icons">question_answer</i>05</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 px-3 mt-2 mt-md-5 mb-lg-5 col-md-6 col-lg-4">
            <div class="container1">
                <div class="zoom">
                    <img class="card-img-top" src="/assets/gallery1.png" alt="Image blog post 1">
                </div>
                <div class="card-body text-light">
                    <h4 class="card-title mt-3">Portable Fashion for women</h4>
                    <p class="card-text" style="line-height: 22px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <div class="card-text mb-3">
                        <small><i class="small material-icons" style="margin-left: 0;">calendar_today</i>13th Dec</small>
                        <small><i class="small material-icons">favorite</i>15</small>
                        <small><i class="small material-icons">question_answer</i>05</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="medhidden mb-3 mb-lg-5 px-3 mt-2 mt-lg-5 col-lg-4">
            <div class="container1">
                <div class="zoom">
                    <img class="card-img-top" src="/assets/gallery3.jpg" alt="Image blog post 1">
                </div>
                <div class="card-body text-light">
                    <h4 class="card-title mt-3">Portable Fashion for women</h4>
                    <p class="card-text" style="line-height: 22px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <div class="card-text mb-3">
                        <small><i class="small material-icons" style="margin-left: 0;">calendar_today</i>13th Dec</small>
                        <small><i class="small material-icons">favorite</i>15</small>
                        <small><i class="small material-icons">question_answer</i>05</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>